@{
    ViewData["Title"] = "Отделы";
}

<h2>@ViewData["Title"]</h2>

<a class="fs-4" asp-controller="Department" asp-action="StaffOfDep">Back-end<br /></a>
<a class="fs-4" asp-controller="Department" asp-action="StaffOfDep">Front-end<br /></a>
<a class="fs-4" asp-controller="Department" asp-action="StaffOfDep">QA Engineer<br /></a>