html{
    font-size:18px;
}

img{
    max-width:100%;
    height:auto;
}

section{
    padding:50px;
}
#text_color{
    color:white;
}

#text_color:hover {
    color: #9efff7;
}

.navbar-nav .dropdown-menu{
    right:0;
    left:auto;
}