@{
    ViewData["Title"] = "Регистрация";
}
<h2>@ViewData["Title"]</h2>
<form>
      <div class="mb-3">
        <label for="InputLogin" class="form-label">Логин</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Никому не сообщайте свой логин</div>
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        <div id="passwordHelpBlock" class="form-text">
            Ваш пароль должен состоять из 8-20 символов, содержать буквы и цифры и не должен содержать пробелов,эмодзи.
        </div>
        <label for="InputEmail" class="form-label">Почта</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Мы данные о вашей почте никому не передаём</div>
        <label for="exampleInputEmail1" class="form-label">Тип пользователя</label>
        <select class="form-select" aria-label="rank">
            <option value="1">Пользователь</option>
            <option value="2">Админ</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Создать пользователя</button>
</form>
